{% extends 'base.html' %}
{% load static %}

{% block content %}
<header id="Header">
    <nav class="main-navigation">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="logo">
                        <a href="#"><img src="{% static 'cms/images/logo.png' %}"></a>
                    </div>
                </div>
                <a class="admin" href="{% url 'admin:index' %}" >Admin</a>
                <div class="col text-right">
                    <div class="menu-wrap">
                        <div id="nav-icon1">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="mobile-menu">
        {% include "menu.html" %}
    </div>
</header>

<section id="Home">
    <img class="HeroB" src="{% static 'cms/images/banner_error.jpg' %}">
</section>

<section id="Application">
    <div class="container">
        <div class="title text-center">
            <h1>404 Non trouvé</h1>
            <p>La ressource demandée est introuvable sur ce serveur.</p>
            <br>
        </div>
        <div class="submit-btn">
            <div class="container">
                <div class="title text-center">
                    <p><a class="button_application" title="Retourner à l'accueil" href="{% url 'index' %}"><i></i><button  type="submit"><span class="button_application">Retourner à l'accueil</span></button></a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<br><br><br>

{% endblock %}
