{% load static %}

<div class="modal">
    <div>
        <div class="message">
            <p>
                <h4>Change the language</h4>
            </p>
            <form action="/i18n/setlang/" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{% url 'index' %}" />
                    <select name="language">
                        {% for lang in LANGUAGES %}
                            <option value="{{ lang.0 }}">{{ lang.1 }}</option>
                        {% endfor %}
                    </select>
                <input  class="modal_button" type="submit" />
            </form>
            <a id="modal_close"><img class="close" src="{% static 'cms/images/close.png' %}"></a>
        </div>
    </div>
</div>
