{% extends 'base.html' %}

{% block content %}
<header id="Header">
    <nav class="main-navigation">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="logo">
                        <a href="#"><img src="{{ home.logo }}" alt="Logo"></a><!-- images/logo.png -->
                    </div>
                </div>
                <div class="col text-right">
                    <div class="menu-wrap">
                        <div id="nav-icon1">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="mobile-menu">
        <ul>
            <li><a href="#Home" class="smooth-scroll">Accueil</a></li>
            <li><a href="#Features" class="smooth-scroll">Les Fonctionnalités</a></li>
            <li><a href="#Application" class="smooth-scroll">L'application</a></li>
            <li><a href="#Documentation" class="smooth-scroll">L'API</a></li>
        </ul>
    </div>
</header>

<section id="Home">
    <img class="HeroB" src="{{ home.picture }}"> <!-- images/banner.jpg -->
</section>

<section id="Features">
    <div class="container">
        <div class="title text-center">
            <h1>{{ features.title }} <!-- Romutech AI--></h1>
            <p>{{ features.description }} <!-- Romutech AI sera une solution basée sur l'intelligence artificielle, qui permettra d'analyser des images, à l'aide de Computer Vision.--></p>
        </div>
        <div class="row">

            {% for feature in features.features %}
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <div class="each-icon box-1">
                    <div class="icon-wrap">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <div class="icon-text">
                        <h3>{{ feature.title }}</h3>
                        <p>{{ feature.content }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

            <!--
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <div class="each-icon box-1">
                    <div class="icon-wrap">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <div class="icon-text">
                        <h3>Détection de visage</h3>
                        <p>La solution permettra de detecter des visages.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <div class="each-icon box-2">
                    <div class="icon-wrap">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <div class="icon-text">
                        <h3>Floutage des visages.</h3>
                        <p>Gagnez un temps précieux en automatisant le floutage des visages sur vos photos, avant une publication par exemple.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <div class="each-icon box-3">
                    <div class="icon-wrap">
                        <i class="fa fa fa-cogs"></i>
                    </div>
                    <div class="icon-text">
                        <h3>Comptage des personnes</h3>
                        <p>Automatiser le comptage des personnes présentes sur une photo.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <div class="each-icon box-4">
                    <div class="icon-wrap">
                        <i class="fa fa fa-cogs"></i>
                    </div>
                    <div class="icon-text">
                        <h3>Vérification du port du masque</h3>
                        <p>Automatiser la Vérification du port du masque, pour s'assurer que toutes les persopnnes présentes sur la photo porte bien un masque de protection respiratoire.</p>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
</section>

<section id="Application">
    <div class="submit-btn">
        <div class="container">
            <div class="title text-center">
                <h3>{{ application.title }}<!-- Lancer L'application Romutech AI --></h3>
                <br>
                <!--<p><a class="button_application" title="Romutech AI" href="https://google.fr"><i></i><button  type="submit"><span class="button_application">Romutech AI</span></button></a></p>-->
                <p><a class="button_application" title="Romutech AI" href="#"><i></i><button  type="submit"><span class="button_application">{{ application.button }} <!-- Bientot disponible --></span></button></a></p>
            </div>
        </div>
    </div>
</section>

<section id="Api" class="clearfix">
    <div class="container">
        <div class="title text-center">
            <h3>{{ api.title }} <!--L'API --></h3>
            <p>{{ api.description }} <!-- Une API sera mise à disponibilité des développeurs. le format d'échange de données sera le JSON. --><br></p>
        </div>
    </div>
</section>

<section id="Documentation">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 ">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="laptop-text">
                    <h2>{{ documentation.title }} <!-- Documentation de l'API --></h2>
                    <p>{{ documentation.description }} <!-- Pour comprendre les rouages de l'API et pour pouvoir l'utiliser, une documentation sera disponible. <br>Vous y trouverez les différentes routes existantes et la manière de structurer le JSON. --></p>
                    <a href="#">{{ documentation.button }} <!-- Documentation --></a>
                </div>
            </div>
        </div>
    </div>
</section>

<br><br><br>

<footer id="Footer">
    <div class="container text-center">
        <div class="footer-text ">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="copy-right">
                        <p>{{ footer.content }} <!-- © Romutech | 2021 --></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
