{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<header id="Header">
    <nav class="main-navigation">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="logo">
                        <a href="#"><img src="{% static 'cms/images/logo.png' %}"></a>
                    </div>
                </div>
                <a class="admin" href="{% url 'admin:index' %}" >Admin</a>
                <div class="col text-right">
                    <div class="menu-wrap">
                        <div id="nav-icon1">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="mobile-menu">
        <ul>
            <li><a href="#Home" class="smooth-scroll">Accueil</a></li>
            <li><a href="#Features" class="smooth-scroll">Les Fonctionnalités</a></li>
            <li><a href="#Application" class="smooth-scroll">L'application</a></li>
            <li><a href="#Documentation" class="smooth-scroll">L'API</a></li>
        </ul>
    </div>
</header>

<section id="Home">
    <img class="HeroB" src="{% static 'cms/images/banner.jpg' %}">
</section>

<section id="Features">
    <div class="container">
        <div class="title text-center">
            <h1>{{ presentation.title }}</h1>
            <p>{{ presentation.description }}</p>
        </div>
        <div class="row">

            {% for feature in presentation.features %}
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <div class="each-icon box-1">
                    <div class="icon-wrap">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <div class="icon-text">
                        <h3>{{ feature.title }}</h3>
                        <p>{{ feature.content }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

            </div>
        </div>
    </div>
</section>

<section id="Application">
    <div class="submit-btn">
        <div class="container">
            <div class="title text-center">
                <h3>{{ application.title }}</h3>
                <br>
                {% if application.button %}
                <p><a title="Romutech AI" href="#"><i></i><button  type="submit"><span class="button_application">{{ application.button }}</span></button></a></p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<section id="Api" class="clearfix">
    <div class="container">
        <div class="title text-center">
            <h3>{{ api.title }}</h3>
            <p>{{ api.description }}<br></p>
        </div>
    </div>
</section>

<section id="Documentation">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 ">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="laptop-text">
                    <h2>{{ documentation.title }}</h2>
                    <p>{{ documentation.description }}</p>
                    {% if documentation.button %}
                    <a href="#">{{ documentation.button }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<br><br><br>

{% include "cms/popup.html" %}

{% endblock %}
